body{
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1490730141103-6cac27aaab94?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  
}
h2{
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
  letter-spacing: 3px;
  position: relative;
  margin-right: 59px;
}
.clock{
  display: flex;
}
.clock div{
  margin: 7px;
}
.clock span{
  width: 100px;
  height: 80px;
  background-color: slateblue;
  
  opacity: .7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.9);

}
.clock .text{
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkblue;
  opacity:0.8;
}
.clock #ampm{
  
  position: relative;
  top: 65px;
  width: 60px;
  height: 30px;
  font-size: 25px;
  background: green;
}